body {
background-color: #121212;

}
.menu {
}
a:visited
{
text-decoration: none;
decoration: none;
}
h2 a:visited
{
text-decoration: none;
decoration: none;
}
.content h1 {
font-size: 20px;
font-family: Courier;
color: #B00020;
font-weight: bold;
}

.content h2 {
  font-size: 15px;
    font-family: Courier;
    color: #B00020;
  font-weight: bold;
}
/*
The color code above is for changing the color of the title.
->htmlcolorcodes.com <-
*/
h2 a, h2 a:link {
font-size: 15px;
font-family: Courier;
font-weight: 500;

}

.table h2 a, h2 a:link {
font-size: 15px;
font-family: Courier;
color: #000000;
width: 40%;

}
.content h3 {
font-size: 12px;
font-family: Courier;
float: right;
font-weight: normal;
}

.content h4 {
font-size: 11px;
font-family: 'Courier Prime', monospace;
font-weight: normal;
}

.content h5 {
font-size: 10px;
font-family: 'Courier Prime', monospace;
font-weight: normal;
}

.content h6 {
font-size: 8px;
font-family: 'Courier Prime', monospace;
font-weight: normal;
float: left;
position: relative;
margin: : 20px;
left: 50%;
}
.content p {
font-size: 12px;
font-family: Courier;
text-decoration: none;
text-align:Justify;
line-height: 190%;

}
.content a {
font-size: 12px;
font-family: Courier;
text-decoration: none;
color: #0B7ADE;

}
ul {
list-style-type: none;
border: 2px solid #000000;
border-radius: 5px;
overflow: hidden;
background-color: #B00020;
  /*
The color code above is for changing the color of the main menu and footer.
->htmlcolorcodes.com <-
*/
font-family: Courier;
font-size: 12px;
margin: auto;
width: 90%;
margin-bottom: 10px;
}
    li {
margin: auto;
}
    li a {
display: block;
color: white;
text-align: center;
text-decoration: none;
float: left;

}
li a:hover {
border: 0px solid #690013;
}

    li h3 {
display: block;
color: white;
text-align: center;
padding: 12px;
text-decoration: none;
float: left;
}
    li h3:hover {
background-color: #690013;
border-radius: 5px;
}
    li h2 {
float: left;
margin: auto;
margin-right: auto;
margin-left: auto;
}

.footer {
padding-top: 20px;
padding-right: 10px;
padding-bottom: 10px;
overflow: hidden;
background-color: #0B7ADE;
font-family: Courier;
font-size: 12px;
width: 90%;
margin: auto;
}
.footer a {
  color:white;
  text-decoration: none;
}
.content{
 width: 90%;
 margin: auto;
 padding: 20px;
 border: 2px solid #E8E8E8;
 background-color: #ffffff;
 margin-bottom: 10px;
  border-radius: 5px;
}
.table {
 margin: auto;
 padding: 20px;
 border: 2px solid #E8E8E8;
 border-radius: 5px;
 background-color: #F0F0F0;
}
.ads {
 background-color: #F0F0F0;
 border: 2px solid #E8E8E8;
 border-radius: 5px;
 margin: auto;
 text-align: center;
}
hr {
border: 1px solid #B00020;
background-color: #B00020;
}
/*
The color code above is for changing the color of the separator.
->htmlcolorcodes.com <-
*/

.info{
margin: auto;
padding: 20px;
border: 2px solid #E6534C;
background-color: #F0F0F0;
margin-bottom: 15px;
font-size: 10px;
border-radius: 5px;
}

.info p{
font-size: 14px;
color: #424242;
}
.table{
margin-bottom: 15px;
}

.badge {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
font-weight: 700;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: middle;
background-color: #777;
border-radius: 10px;
}
